#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    margin-top: -20px;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    border-right: 1px solid #e0e0e0;
    opacity: 0.9;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;
}

.nav-sidebar {
  li {
    margin-top: 20px;
    margin-left: 10px;
    a {
      font-weight: 500;
      font-size: 16px;
    }
    .mbri-setting3 {
        font-size: 20px;
    }
  }

}

.dropdown {
    img {
        width: 25px;
    }
}